@charset "utf-8";



/** admin HEADER **/
header.admin_header {width:100%;background: #222222;height: 80px;padding: 0 40px;display: flex;align-items: center;position:relative;z-index:30;text-align:center;border-bottom: 1px solid #ECEEF0;box-shadow: 0px 4px 10px 0px #0000001A;min-width:1440px;box-sizing: border-box;}
.admin_header .logo{display: flex;align-items: center;gap: 16px;}
.admin_header .logo span{display:block;}
.admin_header .logo .logo_img{width:121px;height:32px;background:url(../images/svg/logo_white.svg) no-repeat 0 0;background-size:contain;}
.admin_header .logo .logo_text{color: var(--Grayscale-400);}

.admin_header .gnb{display:flex;align-items:center;justify-content: center;width: 50%;flex-grow: 1;margin:0 auto;}
.admin_header .gnb>li{position:relative;}
.admin_header .gnb>li>a{color:#fff;padding:12px;}
.admin_header .gnb>li.active{display:flex;flex-direction:row;justify-content:center;}
.admin_header .gnb>li.active>a{color:#4C9AED;position:relative;font-size:18px;font-weight:700;line-height:23px;letter-spacing: 0px;}
.admin_header .gnb>li.active>a::after{content:'';display:block;width:20px;height:2px;background:#4C9AED;position:absolute;top:39px;left:0;right:0;margin:0 auto;}

.admin_header .btnzone .btn-logout {background:var(--Grayscale-600); color:#F2F3F4;}
.admin_header .btnzone .btn-logout span {opacity:0.5;}
.admin_header .btnzone .btn-logout .ico_arr {background-image:url(../images/svg/arr_btn_white.svg); opacity:0.5;}


/** FOOTER **/
footer.footer{width:100%;height:66px; text-align:left;background:#fff;border-top:1px solid #EEEFF5;}
.footer_div{width:1440px;height:inherit;margin:0 auto;padding:19px 0 19px 400px;position:relative}
.foot_logo{width:106px;height:28px;position:absolute;left:40px;top:19px;}
.footer_div .address {font-size:12px;color:#858B93;}
.footer_div .copyright {font-size:11px;color:#B5B9C0;}



/** admin snb **/
.admin_container {min-height: calc(100vh - 146px) !important;}
.admin_container .content_wrap {align-items: stretch;min-height: calc(100vh - 146px);}
.admin_container .left_filter_cont {}
.admin_container .left_filter_cont ul {}
.admin_container .left_filter_cont ul li {height: 64px;display: flex;align-items: center;padding: 0 24px;}
.admin_container .left_filter_cont ul li a {color:var(--Text-400);flex-grow: 1;display: flex;align-items: center;height: 100%;gap: 16px;}
.admin_container .left_filter_cont ul li.active {background:rgba(202,240,248,0.3);}
.admin_container .left_filter_cont ul li.active a {color:var(--fontColor);}
.admin_container .left_filter_cont ul li i.ico_snb {background-repeat: no-repeat;background-position: center;width: 24px;height: 24px;display: inline-block;}
.admin_container .left_filter_cont ul li i.admin_snb01 {background-image: url("../images_admin/admin_ico-snb01.svg");}
.admin_container .left_filter_cont ul li i.admin_snb02 {background-image: url("../images_admin/admin_ico-snb02.svg");}
.admin_container .left_filter_cont ul li i.admin_snb03 {background-image: url("../images_admin/admin_ico-snb03.svg");}
.admin_container .left_filter_cont ul li i.admin_snb04 {background-image: url("../images_admin/admin_ico-snb04.svg");}
.admin_container .left_filter_cont ul li i.admin_snb05 {background-image: url("../images_admin/admin_ico-snb05.svg");}
.admin_container .left_filter_cont ul li i.admin_snb06 {background-image: url("../images_admin/admin_ico-snb06.svg");}

.admin_container .breadcrumb {margin-bottom:16px;}


/* 왼쪽에 트리가 위치하는 경우의 cont */
.Wrap_tree_cont {display: flex; height: 100%; gap: 40px;}
.Wrap_tree_cont .title {margin-bottom:10px;}
.Wrap_tree_cont .l_Side {display: flex; flex-direction: column;}
.Wrap_tree_cont .l_Side .portlet_edit_left {flex-grow: 1; gap: 10px; display: flex; flex-direction: column;}
.Wrap_tree_cont .l_Side .portlet_edit_left .p_edit_tab_wrap {flex-grow: 1; display: flex;}
.Wrap_tree_cont .l_Side .portlet_edit_left .p_edit_tab_wrap .p_edit_tab_cont {width: 100%; height: 100%;}
.Wrap_tree_cont .r_Box {flex-grow: 1; display: flex; flex-direction: column; align-items: flex-end; gap: 10px;}
.Wrap_tree_cont .r_Box .box-white {width: 100%;}
.Wrap_tree_cont .r_Box .box-white .head20B {padding-bottom: 10px;border-bottom: 1px solid #D2D7E5;margin-bottom: 10px;}
.Wrap_tree_cont .r_Box .box-white .box-in-form {display: flex; flex-wrap: wrap;}
.Wrap_tree_cont .r_Box .box-white .box-in-form li {margin-top: 0; width: 50%;}
.Wrap_tree_cont .r_Box .box-white .box-in-form li.w100 {width: 100%;}

.srch_portlet .btn_reset {width:56px;height:48px;background:#fff url(../images/svg/ico_reset.svg) no-repeat center center;border-radius:8px;border:1px solid var(--Grayscale-400);box-shadow: 0px 0px 8px 0px #0000000A;margin-left:10px;}

