@charset "utf-8";
@import url("common.css");


/* common */
.gap_0 {gap:0 !important;}
.space-between {align-content:space-between;}
.justify-between {justify-content:space-between;}
.justify-end {justify-content:flex-end;}


.btn-order-wrap {display:inline-flex; justify-content:space-between; align-items:center; gap:10px; padding-left:8px; padding-right:8px; text-align:left;}
.btn-order-wrap .order-title {width:100px; text-align:center;}
.btn-order {display:inline-flex; align-items:center; width:18px; height:18px;}
.btn-order [type="checkbox"] {position:relative; appearance:none; width:18px; height:18px; cursor:pointer;}
.btn-order [type="checkbox"]::before {position:absolute; top:0; left:0; content:''; width:100%; height:100%; background:url(../images_admin/arrow_drop_down.svg) center no-repeat;}
.btn-order [type="checkbox"]:checked::before {transform:scaleY(-1);}
.btn-order span {font-size:0; text-indent:-9999px; overflow:hidden;}

.toggle-switch {display:inline-flex; justify-content:center; align-items:center; width:64px; height:32px;}
.toggle-switch [type="checkbox"] {position:relative; appearance:none; width:64px; height:32px; padding:4px; border-radius:49px; background-color:var(--Grayscale-150); cursor:pointer; box-sizing:border-box; transition:all .15s ease;}
.toggle-switch [type="checkbox"]::before {position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); left:4px; content:''; width:24px; height:24px; background-color:var(--Primary-White); border-radius:16px;}
.toggle-switch [type="checkbox"]::after {position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); right:6px; content:'OFF'; width:26px; text-align:center; color:var(--Text-300);}
.toggle-switch [type="checkbox"]:checked {background-color:var(--Primary-Blue); border-color:var(--Primary-Blue);}
.toggle-switch [type="checkbox"]:checked::before {left:auto; right:4px;}
.toggle-switch [type="checkbox"]:checked::after {right:auto; left:6px; content:'ON'; color:var(--Text-White);}
.toggle-switch [type="checkbox"]:focus-visible {outline-offset:max(2px, 0.1em); outline:max(2px, 0.1em) solid var(--Grayscale-150);}
.toggle-switch [type="checkbox"] + span {font-size:0; text-indent:-9999px; overflow:hidden;}  

.datePicker_wrap {display:flex; align-items:center; gap:8px;}
.datePicker_wrap input.datePicker {width:194px; border-color:var(--Primary-Black); background:var(--Primary-White) url(../images_admin/admin_ico_date.svg) center right 16px no-repeat; color:var(--Primary-Black);}



/* 시스템관리 - 메인 대시보드 */
.admin_container .main_content {display:flex; flex-direction:column; gap:64px; width:100%; padding-top:80px; padding-bottom:80px;}
/* 대시보드 */
.admin_container .main_dashboard_wrap {display:flex; align-items:center; height:355px; gap:64px;}
.admin_container .dashboard_box {flex-grow:1; display:inline-flex; flex-flow:row wrap; width:calc(100% / 3); height:300px; padding:40px; background-color:#fff; border-radius:8px; box-sizing:border-box; box-shadow:8px 8px 16px #0000001A;}
.admin_container .dashboard_box .content_group {display:flex; justify-content:space-between; align-items:center; gap:40px; width:100%;}
.admin_container .dashboard_box .content_group img {max-width:124px;}
.admin_container .dashboard_box .content_group + button span {color:var(--Grayscale-600);}
.admin_container .content_group .text_box {width:100%; display:flex; flex-direction:column; justify-content:center; gap:16px;}
.admin_container .content_group .text_box .title {text-align:center; color:var(--Grayscale-500); letter-spacing:-1px;}
.admin_container .content_group .text_box .S-DarkB {color:var(--Secondary-DarkBlue);}
.admin_container .content_group .text_box .count {display:flex; justify-content:center; gap:10px; width:100%; color:var(--Text-500); letter-spacing:-1px;}
/* 링크배너 영역 */
.admin_container .main_linkbnr_wrap .linkbnr {display:flex; gap:32px; width:100%;}
.admin_container .main_linkbnr_wrap .linkbnr .banner {position:relative; display:inline-flex; flex-direction:column; justify-content:center; align-items:flex-start; flex-grow:1; gap:40px; width:calc(100% / 4); padding:40px 30px; border-radius:8px; box-sizing:border-box;}
.admin_container .main_linkbnr_wrap .linkbnr .banner:not(:first-child):before {position:absolute; top:8px; left:-17px; content:''; width:1px; height:calc(100% - 16px); background-color:#B5B9C0;}
.admin_container .main_linkbnr_wrap .linkbnr .banner .icon_box {display:inline-flex; justify-content:center; align-items:center; width:128px; height:128px; padding:24px; margin-left:auto; margin-right:auto; background-color:#fff; border-radius:999px;}
.admin_container .main_linkbnr_wrap .linkbnr .banner .icon_box img {max-width:100%; max-height:100%;}
.admin_container .main_linkbnr_wrap .linkbnr .banner .text_box {display:flex; flex-direction:column; gap:24px; width:100%; padding-top:8px; padding-bottom:8px;}
.admin_container .main_linkbnr_wrap .linkbnr .banner .text_box .title {width:100%; text-align:center; letter-spacing:-1px;}
.admin_container .main_linkbnr_wrap .linkbnr .banner .text_box .text {width:100%; text-align:center; color:var(--Secondary-DeepBlue);}


/* 시스템관리 - 표준관리 */
.admin_container .search_cont .btn_div {position:initial;}
/* 결재 단계 */
.step_wrap {width:100%; padding:40px 32px;} 
.approval_step {position:relative; display:inline-flex; justify-content:flex-start; gap:46px; max-width:100%;}
.approval_step::before {position:absolute; left:30px; bottom:26px; z-index:1; content:''; width:calc(100% - 60px); height:2px; border-top:2px dotted var(--Grayscale-300);}
.approval_step li {display:inline-flex; flex-direction:column; justify-content:center; gap:8px; min-width:84px; padding-left:16px; padding-right:16px;}
.approval_step li .state {text-align:center;}
.approval_step li .circle_box {position:relative; z-index:2; display:inline-flex; justify-content:center; align-items:center; min-width:52px; height:52px; padding:0 10px; margin:auto; font-family:'Pretendard'; color:var(--Text-White); letter-spacing:-1px; border-radius:26px; box-sizing:border-box;}
    .approval_step li.gray-01 .state {color:var(--Text-400);}
    .approval_step li.gray-01 .circle_box {background-color:var(--Grayscale-400);}
    .approval_step li.gray-02 .state {color:var(--Text-500);}
    .approval_step li.gray-02 .circle_box {background-color:var(--Grayscale-500);}
    .approval_step li.gray-03 .state {color:var(--Text-600);}
    .approval_step li.gray-03 .circle_box {background-color:var(--Grayscale-600);}
    .approval_step li.gray-04 .state {color:var(--Text-700);}
    .approval_step li.gray-04 .circle_box {background-color:var(--Grayscale-700);}
    .approval_step li.completion .state {color:var(--Primary-Blue);}
    .approval_step li.completion .circle_box {padding:0 16px; background-color:var(--Secondary-SkyBlue);}
    .approval_step li.reject .state {color:var(--Status-Error);}
    .approval_step li.reject .circle_box {background-color:var(--Status-Error);}


/* 시스템관리 - 이력조회 */
/* 검색 조건 */
.admin_container .srch_wrap .title_box {display:flex; justify-content:space-between; align-items:center; gap:10px; width:100%; padding:16px 8px 8px 0; border-bottom:1px solid var(--Grayscale-300); cursor:pointer;}
.admin_container .srch_wrap .title_box::after {position:initial;}
.admin_container .srch_wrap .title_box .title {max-width:calc(100% - 34px); margin-bottom:0; color:#020035;}
.admin_container .srch_wrap .box-in-form .form-tit {width:200px; color:var(--fontColor);}
.admin_container .srch_wrap .title_box + .accordion-desc {margin-top:16px;}
.admin_container .srch_wrap .accordion-desc {padding-top:16px; padding-bottom:24px;}
.admin_container .srch_wrap .accordion-desc .box-round {display:flex;  flex-direction:column; gap:32px;}
.admin_container .srch_wrap .accordion-desc .box-in-form {display:flex; flex-direction:column; gap:10px;}
.admin_container .srch_wrap .accordion-desc .form-div .ipt_chk_div {margin:6px 16px 6px 0;}
.admin_container .srch_wrap .accordion-desc .form-div .btn-line-02 span {color:var(--fontColor);}
.admin_container .srch_wrap .box-in-form + .srch_filter_btn_div {padding-top:24px; border-top:1px solid var(--Grayscale-300);}
/* 검색 결과 */
.admin_container .wrap_pt40_pb40_gap24 {display:flex; flex-direction:column; gap:24px; padding-top:40px; padding-bottom:40px;}
.admin_container .search_result_cont td .ctnt_area {display:inline-flex; justify-content:space-between; align-items:center; gap:10px;}
.admin_container .search_result_cont td .ctnt_area .text {width:80px; text-align:center; word-break:break-all; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; overflow:hidden;}
.admin_container .search_result_cont td .accordion-link::after {display:none;}
.admin_container .search_result_cont td .accordion-item .btn_accr {position:relative; width:44px; height:44px; border-color:var(--Grayscale-400); border-radius:8px; background:var(--Primary-White) url();}
.admin_container .search_result_cont td .accordion-item .btn_accr::before,
.admin_container .search_result_cont td .accordion-item .btn_accr::after {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); content:''; background-color:var(--Grayscale-500); border-radius:2px;}
.admin_container .search_result_cont td .accordion-item .btn_accr::before {width:14px; height:2px; transition:all .15s ease;}
.admin_container .search_result_cont td .accordion-item .btn_accr::after {display:block; width:2px; height:14px;}
.admin_container .search_result_cont td .accordion-item.active .btn_accr {border-color:var(--Grayscale-200);}
.admin_container .search_result_cont td .accordion-item.active .btn_accr::before {background-color:var(--Grayscale-200);}
.admin_container .search_result_cont td .accordion-item.active .btn_accr::after {display:none;}
.admin_container .search_result_cont td .accordion-item .accordion-desc {margin-top:15px; padding:15px;}